---
layout: default
---
<div class="modal-writing">
    <div class="writing-header">
        <h1>VIDEO FILE</h1>
        <span class="writing-date">{{ page.date | date: "%d.%m.%y" }}</span>
    </div>
    <p class="description">{{ page.excerpt }}</p>
    <div class="tag-video">Video</div>
    <div class="content">
        {{ content }}
    </div>
</div>

<script>
    // Redirect image posts back to home and open modal
    window.location.href = '{{ "/" | relative_url }}#{{ page.title | slugify }}';
</script> 